.DS_Store
# Bỏ qua thư mục môi trường ảo
.venv/
.venv_gemini/
venv/
env/

# Bỏ qua file biên dịch Python
__pycache__/
*.pyc

# Bỏ qua các file dữ liệu dự án (Video, Audio, Temp)
projects/
*.mp4
*.wav
*.mp3
*.jpg
*.png

# Bỏ qua file cấu hình chứa mật khẩu (nếu có)
.env